body {font-family: "Microsoft YaHei" ;}
.nav{
	background: #000;
	margin:0px;
	padding:10px;
}
.nav ul{
	width:980px;
	float:right;
	list-style-type: none
}
.nav ul li{
	float:right;
}
.nav ul li a{
	width:80px;
	height:28px;
	line-height:28px;
	color:#FFF;
	margin:5px 10px;
    text-decoration:none;
    text-align:center;
    display:block;
}
.article{
	border-right:3px solid gray;
	border-bottom:3px solid gray;
	border-top:1px solid #B0B0B0;
	border-left:1px solid #B0B0B0;
	outline:20px solid #C0C0C0;
	margin: 20px;
	padding:15px;
}
.navsecond{
	border-right:3px solid gray;
	border-bottom:3px solid gray;
	border-top:1px solid #B0B0B0;
	border-left:1px solid #B0B0B0;
	outline:35px solid #C0C0C0;
	margin: 20px 35px;
	padding:15px;
	height:500px;
}
.photo{
	border:2px solid gray;
	padding:5px 5px;
	margin:30px;
	width:110px;
}
img.small{
	height:100px;
	width:100px;
	display: block;
	margin:10px auto;
}
.papertitle{
	color:gray;
}
.author{
	color:gray;
	font-size:12px;
}
table{
	width:1300px;
}
th{
	text-align:left;
	background-color:#000;
    color:white;
    font-size:15px;
}
td{
	font-size:15px;
}
tr.sum{
	background:#B8B8B8;
}
.aligning{
	position: absolute;
	right:800px;
	margin:5px;
}
.tips1{
	position: relative;
	left:590px;
	color:#B0B0B0;
	font-size:15px;
	display: block;
}
.tips{
	position: relative;
	left:580px;
	margin:5px;
}
.aligning6{
	margin:10px auto 0px auto;
	width:1200px;
	display: block;
	background: #0066CC;
	color:white;
	font-size:18px;
	border-radius:10px;
	padding:8px;
}
.last{
	background: #000;
	margin:0px;
	height:50px;
	display: block;
	color:white;
	text-align:center;
	padding-top:40px;
	font-size: 12px;
}